.carousel-container {
  position: relative;
  top: 0;
  width: 100%;
  /* height: 100%; */
  z-index: -1;
}

.carousel-container img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.carousel-body{
    position: absolute;
    z-index: 10;
    margin: 10% 31%;
    width: 30%;
}

.carousel-body h1{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #222;
}

.carousel-body a{
    background-image: radial-gradient( red, rgb(226, 9, 9));
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
}
i{
    font-size: 1.2rem;
}
.home-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 78%;
  background-color: white;
  border-top: 3px solid #dedcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1{
    font-size: 2.3em;
    font-weight: 800;
    color: #333;
    padding-top: 20px;
}
