.carousel-container {
  /* position: relative; */
  /* top: 0; */
  width: 100%;
  height: 89%;
  /* z-index: -1; */
  transition: opacity 0.1s ease-in-out;
}

.carousel-container.transitioning{
    opacity: 0;
}

.carousel-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.carousel-body{
    position: absolute;
    z-index: 10;
    margin: 10% 31%;
    width: 30%;
}

.carousel-body h1{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #222;
}

.carousel-body .carousel-query{
    background-image: radial-gradient( red, rgb(226, 9, 9));
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
}
i{
    font-size: 1.2rem;
}

.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.categories > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 0.5em;
    padding: 2em;
    transition: all 0.3s ease-in-out;
}

.categories > *:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
.recent-reviews {
  position: absolute;
  width: 100%;
  height: fit-content;
  z-index: 0;
  top: 78%;
  background-color: white;
  border-top: 3px solid #dedcdc;
  border-bottom: 3px solid #dedcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 0 4em 0
}

h1{
    font-size: 2.3em;
    font-weight: 800;
    color: #333;
    padding-top: 20px;
}
