<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aufx.MPlg.dyna</key>
	<dict>
		<key>wantsBestResolutionOpenGLSurface</key>
		<false/>
		<key>wantsLayer</key>
		<false/>
	</dict>
	<key>Waves</key>
	<dict>
		<key>wantsBestResolutionOpenGLSurface</key>
		<false/>
		<key>wantsLayer</key>
		<false/>
	</dict>
	<key>augn.appl.afpl</key>
	<dict>
		<key>keepUILoaded</key>
		<true/>
	</dict>
</dict>
</plist>
