<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dummyOnly</key>
	<array>
		<string>aufx.TCEl.rwac</string>
		<string>aufx.Miik.mkse</string>
		<string>aufx.Fspd.ABS3</string>
		<string>aufx.MPlg.dyna</string>
		<string>aufx.iZtp.ZnSn</string>
		<string>aufx.iZtp.ZnIS</string>
		<string>aufx.gtuY.urbY</string>
		<string>aufx.NGAU.VZR2</string>
		<string>aufx.NGAU.PS00</string>
		<string>aufx.Jldr.mmsv</string>
		<string>aufx.Aumo.lstt</string>
		<string>aufx.Aumo.lstr</string>
	</array>
	<key>keepAlive</key>
	<array>
		<string>aufx.gtuY.urbY</string>
		<string>aufx.BRTM.EQCA</string>
		<string>aufx.Vxng.4vo6</string>
		<string>aufx.TCEl.LM2b</string>
		<string>aufx.TCEl.LM2n</string>
		<string>aufx.TCEl.rwac</string>
		<string>aufx.ksWV.WLMS</string>
		<string>aufx.ksWV.WWLM</string>
		<string>aufx.ksWV.WLMM</string>
		<string>aufx.NGAU.VZR2</string>
		<string>aufx.Fspd.fxLe</string>
		<string>aufx.Fspd.ABS3</string>
		<string>aufx.Schw.bTtr</string>
		<string>aufx.MPlg.dyna</string>
		<string>aufx.iZtp.ZnSn</string>
		<string>aufx.iZtp.ZnIS</string>
		<string>aufx.Ikmm.T510</string>
		<string>aufx.NGAU.PS00</string>
		<string>aufx.Jldr.mmsv</string>
		<string>aufx.Aumo.lstt</string>
		<string>aufx.Aumo.lstr</string>
	</array>
	<key>hidden</key>
	<array>
		<string>aumf.ikm_.ARC2</string>
	</array>
	<key>generic</key>
	<array>
		<string>aufx.appl.mrev</string>
		<string>aufx.appl.nutp</string>
	</array>
	<key>appleAllowed</key>
	<array>
		<string>aufx.appl.bpas</string>
		<string>aufx.appl.dely</string>
		<string>aufx.appl.dist</string>
		<string>aufx.appl.dcmp</string>
		<string>aufx.appl.filt</string>
		<string>aufx.appl.greq</string>
		<string>aufx.appl.hshf</string>
		<string>aufx.appl.mrev</string>
		<string>aufx.appl.mcmp</string>
		<string>aufx.appl.nbeq</string>
		<string>aufx.appl.nutp</string>
		<string>aufx.appl.pmeq</string>
		<string>aufx.appl.lmtr</string>
		<string>aufx.appl.tmpt</string>
		<string>aufx.appl.rvb2</string>
		<string>aufx.appl.hpas</string>
		<string>aufx.appl.lshf</string>
		<string>aufx.appl.lpas</string>
	</array>
</dict>
</plist>
