.business-form{
    background-color: #ddd;
    border-top: 3px solid #dedcdc;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.business-form-container{
    margin: 0;
    display: flex;
    border: 2px solid red;
    width: 100%;
    height: 100%
    /* background-color: #fff; */
}

#submit-business-form {
  background-color: #fff;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.inputfields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
}

.textfields {
    display: flex;
    flex-direction: column;
    padding: 2em
}

.textfields input {
    width: 100%;
    height: 2em
}

.textfields textarea {
    height: 5em;
    width: 100%;
}

.dropdowns{
    display: flex;
}
/* .schedule-field{
    display: flex;
    flex-direction: row;
    color: red;
    font-size: 1.5em;
    justify-content: flex-start;

} */

.mapfield{
    height: 100%;
    width: 100%;
    border-radius: 3em;
    object-fit: cover;
}

#mapform-container{
    width: 30em;
    height: 100%;
}

#errors{
    list-style: none;
    color: red;
    font-size: 0.9em;
}
