.business-form{
    background-color: #ddd;
    border-top: 3px solid #dedcdc;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.business-form-container{
    margin-top: 5px;
    display: flex;
    border: 2px solid red;
    /* background-color: #fff; */
}

#submit-business-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  padding: 20px;
  height: 100%;
}

#submit-business-form > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#errors{
    list-style: none;
    color: red;
    font-size: 0.9em;
}

#mapform-container{
    width: 100%;
    height: 10em;
}

.schedule-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
