.business-form-container{
    background-color: white;
    border-top: 3px solid #dedcdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#submit-business-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#submit-business-form div{
    display: flex;
    justify-content: space-between;
}

#errors{
    list-style: none;
    color: red;
    font-size: 0.9em;
}
