<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>djay</key>
	<array>
		<string>com.algoriddim.djay3</string>
		<string>net.algoriddim.djay</string>
	</array>
	<key>voip</key>
	<array>
		<string>com.amazon.Amazon-Chime</string>
		<string>com.apple.FaceTime</string>
		<string>com.apple.iChat</string>
		<string>com.avaya.Spark</string>
		<string>com.bluejeansnet.Blue</string>
		<string>com.citrixonline.GoToMeeting</string>
		<string>com.cisco.Jabber</string>
		<string>com.cisco.webexmeetingsapp</string>
		<string>com.CounterPath_Corporation.Bria-4</string>
		<string>com.CounterPath.Bria-3</string>
		<string>com.CounterPath.Bria_3</string>
		<string>com.counterpath.X_Lite_4</string>
		<string>com.facebook.archon</string>
		<string>com.facebook.archon.developerID</string>
		<string>com.google.GoogleTalkPluginD</string>
		<string>com.herzick.mac</string>
		<string>com.hnc.Discord</string>
		<string>com.icq.macicq</string>
		<string>com.kakao.KakaoTalkMac</string>
		<string>com.logmein.GoToMeeting</string>
		<string>com.microsoft.Lync</string>
		<string>com.microsoft.SkypeForBusiness</string>
		<string>com.microsoft.teams</string>
		<string>com.radvision.SCOPIA_Desktop</string>
		<string>com.securax.zoiper5</string>
		<string>com.sipphone.GizmoProject</string>
		<string>com.skype.skype</string>
		<string>com.talk4free.magicJack</string>
		<string>com.tinyspeck.slackmacgap</string>
		<string>com.teamspeak.TeamSpeak3</string>
		<string>com.tencent.qq</string>
		<string>com.tencent.tencentmeeting</string>
		<string>com.tencent.WeWorkMac</string>
		<string>com.tencent.xinWeChat</string>
		<string>com.textnow.electron</string>
		<string>com.tlphn.Telephone</string>
		<string>com.toktumi.toktumi</string>
		<string>com.toktumi.LineTwo.Line2</string>
		<string>com.vailsys.mac.Whistle</string>
		<string>com.viber.osx</string>
		<string>com.wearezeta.zclient.mac</string>
		<string>com.webex.meetingmanager</string>
		<string>com.WhatsApp.chat</string>
		<string>com.xnet.iSoftPhone</string>
		<string>com.xten.SIPClient</string>
		<string>com.yahoo.messenger3</string>
		<string>com.zoiper.www</string>
		<string>co.teamport.around</string>
		<string>cx.ring</string>
		<string>desktop.WhatsApp</string>
		<string>jp.naver.line.mac</string>
		<string>net.sourceforge.llcon.Jamulus</string>
		<string>net.sourceforge.llcon.JamulusServer</string>
		<string>net.sourceforge.mumble.Mumble</string>
		<string>org.linphone.linphone</string>
		<string>org.telegram.desktop</string>
		<string>org.whispersystems.signal-desktop</string>
		<string>ru.keepcoder.Telegram</string>
		<string>us.zoom.xos</string>
		<string>mumble-client</string>
		<string>Cisco-Systems.Spark</string>
		<string>Starleaf.breeze2</string>
		<string>WhatsApp</string>
	</array>
</dict>
</plist>
