.Business{
    margin: 0 auto;
    width: 70%;
}

.Business-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Business-address{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Business-body{
    min-height: 200px;
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
}
