.Navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: transparent;
    padding: 20px;
    padding-bottom: 50px;
    margin: 0;
    color: #fff;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.6em;
    color: red;
    transition: all 0.3s ease-in-out;
}

.title:hover{
    transform: scale(1.1);
    color: red;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #555;
}

.Home{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.01));
    position: absolute;
    height: 10%;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.Home .title{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.6em;
    transition: all 0.3s ease-in-out;
}

.Home .title:hover{
    transform: none;
}

.Home a{
    color: #fff;
}

.inactive a{
    color: #111;
}

.Navigation a{
    text-decoration: none;
}


#buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #fff;

}

#buttons a{
    padding: 0px 20px;
}

#search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #fff;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #bbb;
    overflow: hidden;
}

#search-bar input, #search-bar a{
    height: 100%;
    border: none;
}

#search-bar input {
    width: 400px;
    padding: 0px 20px;
}

#search-bar > a{
    background-image: radial-gradient(red,  rgb(183, 6, 6));
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.7s;
}

#search-bar > a:hover{
    background-image: radial-gradient(red,  red);
}

#search-results{
    background-color: #fff;
    width: 435px;
    position: absolute;
}

#search-results  a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #000;
    padding: 0px 20px;
    border-bottom: 1px solid #ccc;

}
