.Navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    background-color: transparent;
    padding: 20px;
    margin: 0;
    color: #fff;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.6em;
    color: red;
    transition: all 0.3s ease-in-out;
    width: 20%;
}

.title:hover{
    transform: scale(1.1);
    color: red;
    -webkit-text-fill-color: red;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #555;
}

.Home{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.01));
    position: absolute;
    height: 10%;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.Home .title{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.6em;
    transition: all 0.3s ease-in-out;
}

.Home .title:hover{
    transform: none;
}

.Home a, .Home button{
    color: #fff;
}
.inactive{
    border-bottom: 2px solid #dfdfdf;
}
.inactive a{
    color: #111;
}

.Navigation a{
    text-decoration: none;
}

#search{
    width: 25%;
    padding: 0px 150px 0px 200px;
}

#buttons{
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #fff;

}
#search i{
    color: white;
}
#buttons a{
    padding: 0px 3px;
}

#search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #fff;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #bbb;
    overflow: hidden;
}

#search-bar input, #search-bar a{
    height: 100%;
    border: none;
}

#search-bar input {
    width: 100%;
    padding: 0px 20px;
}

#search-bar > a{
    background-color: #e01206;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s ease-in-out;
}

#search-bar > a:hover{
    background-color: red;
}

#search-results{
    background-color: #fff;
    width: 435px;
    position: absolute;
}

#search-results  a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #000;
    padding: 0px 20px;
    border-bottom: 1px solid #ccc;

}

.profile-dropdown{
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #dedcdc;
    right: 10%;
}

.profile-dropdown > *{
    color: #111;
    list-style: none;
}

#map-container{
    display: flex;
    align-self: flex-end;
    width: 40%;
}

#map{
    width: 40%;
    height: 100%;
}

#sessionButtons{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    color: #fff;
}
